@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

nav.menu {
  background: #222426;
}

nav.menu #itens {
  display: none;
}

nav.menu ul {
  list-style: none;
  padding: 0;
}

nav.menu span.phone {
  position: relative;
}

nav.menu li a,
nav.menu span.phone a {
  display: block;
  padding: 1em;
  text-align: center;
  color: #7d848a;
  border-top: 1px solid;
}

nav.menu #home {
  display: inline-block;
  padding: 3em;
}

nav.menu #home img {
  width: 8em;
}

nav.menu #menu-button {
  color: white;
  display: block;
  font-size: 4.25em;
  float: right;
  padding: 0.3em 0.5em;
}

header.apresentacao {
  background-image: url('../img/header/bg.png');
  background-position: center;
}

header.apresentacao section {
  text-align: center;
  color: #fff;
}

header.apresentacao section h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30.9pt;
  font-weight: 300;
}

header.apresentacao section p {
  color: #7d848a;
  font-weight: lighter;
  font-size: 9.51pt;
  margin: 1em;
}

header.apresentacao form>span {
  color: #5d81b6;
  font-style: italic;
  font-size: 8.9pt;
  margin: 1em;
  display: block;
}

label.error {
  text-align: left;
  display: none !important;
}

header.apresentacao .campos input.error {
  border: 1px solid red;
}

header.apresentacao .campos input,
header.apresentacao .campos textarea {
  width: 100%;
  margin: 0.3em 0;
  padding: 0.8em 0.3em 0.8em 2.2em;
  background: #444648;
  border: none;
  border-radius: 4px;
  font-size: 15pt;
  color: #f8f8f8;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  opacity: 0.6;
}

header.apresentacao .campos input[type="submit"] {
  background: #6fa5f7;
  color: #fff;
  padding: 0.8em 0.3em 0.8em;
  opacity: 1;
}

header.apresentacao .campos div {
  position: relative;
}

header.apresentacao .campos>div img {
  position: absolute;
  z-index: 2;
  top: 1.7em;
  left: 1em;
  pointer-events: none;
}

header.apresentacao .note {
  display: none;
}

.apresentacao,
main {
  padding: 1em;
}

.skils {
  display: none;
}

h2 {
  font-weight: 300;
  text-align: center;
}

.diferenciais>header>h2 {
  font-size: 21.5pt;
  margin: 1em 0;
}

.diferenciais>header p,
.diferenciais>header span {
  font-size: 12pt;
  text-align: center;
  display: inherit;
}

.diferenciais>header p {
  font-weight: bold;
  color: #555a69;
}

.diferenciais>header span {
  color: #899097;
}

.diferenciais .dif-boxes .box {
  padding: 4em 1em;
  color: #fff;
  margin: 1em 0;
  position: relative;
}

.diferenciais .dif-boxes .box h3 {
  font-size: 24pt;
}

.diferenciais .dif-boxes .box p {
  font-size: 11pt;
  margin: 2em 0 0;
}

.diferenciais .dif-boxes .box .number {
  position: absolute;
  padding: 0.3em 0.7em;
  background: rgba(166, 189, 189, 0.8);
  color: #fff;
  top: 0;
  left: 0;
  font-size: 22pt;
  font-weight: 800;
}

.diferenciais .dif-boxes .dif1 {
  background: #3598c1;
}

.diferenciais .dif-boxes .dif2 {
  background: #414a53;
}

.diferenciais .dif-boxes .dif3 {
  background: #8161e7;
}

.servicos h2 {
  font-size: 24pt;
  text-align: left;
}

.servicos .slide>div {
  background: #f8f8f8;
  border: 1px solid #efeeee;
  padding: 1.5em 1.5em 2em;
  margin: 1em 0;
}

.servicos .slide>div>h4 {
  color: #6fa5f7;
  font-weight: 600;
  font-size: 18pt;
  width: 80%;
  margin: 0.2em 0 1.5em 0;
}

.servicos .slide>div>p {
  color: #7e7e7e;
  font-size: 14pt;
  line-height: 2em;
}

footer {
  background: #333b43;
  color: #797d8c;
  text-align: center;
}

footer>* {
  padding: 1.5em 0;
}

footer .mobile>* {
  padding: 0.3em;
}

figcaption {
  display: none;
}

footer .desktop {
  display: none;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .diferenciais,
  .servicos {
    max-width: 960px;
    margin: 0 auto;
  }
  .content {
    position: relative;
  }
  nav.menu {
    position: absolute;
    background: none;
    width: 100%;
  }
  nav.menu #home img {
    width: inherit;
  }
  nav.menu #menu-button {
    display: none;
  }
  nav.menu #itens {
    display: inherit !important;
  }
  nav.menu>div {
    max-width: 960px;
    margin: 0 auto;
  }
  nav.menu ul {
    list-style: none;
  }
  nav.menu li a,
  nav.menu span.phone a {
    border: none;
  }
  nav.menu a {
    text-decoration: none;
    color: #7d848a;
    font-weight: 400;
    font-size: 12pt;
  }
  nav.menu a:hover {
    color: #6fa5f7;
    font-weight: 600;
  }
  nav.menu ul,
  nav.menu ul li,
  nav.menu span,
  nav.menu div a,
  nav.menu>div>div {
    display: inline-block;
    padding: 1em 0.4em;
  }
  nav.menu #home {
    padding: 3.2em 0;
    float: left;
  }
  nav.menu #itens {
    float: right;
    padding: 0.2em 0;
  }
  nav.menu .phone a {
    color: #6fa5f7 !important;
  }
  header.apresentacao {
    height: 53.45em;
    padding-top: 10em;
  }
  header.apresentacao .campos {
    width: 25em;
    margin: 0 auto;
  }
  header.apresentacao .campos input,
  header.apresentacao .campos textarea {
    padding: 0.4em 0.3em 0.4em 2.2em;
    font-size: 12pt;
    max-width: 100%;
    max-height: 4.55em;
  }
  header.apresentacao .note {
    display: block;
    margin: 1em;
  }
  header.apresentacao .note img {
    width: 35em;
    z-index: 3;
    position: relative;
  }
  header.apresentacao .campos .divide {
    display: flex
  }
  header.apresentacao .divide>div {
    position: relative;
  }
  header.apresentacao .divide>div:nth-child(1) {
    padding-right: 0.25em;
  }
  header.apresentacao .divide>div:nth-child(2) {
    padding-left: 0.25em;
  }
  header.apresentacao .campos>div>img {
    top: 0.8em;
  }
  header.apresentacao .campos .divide div>img {
    top: 1em;
  }
  header.apresentacao form>span {
    margin-bottom: 0.5em
  }
  header.apresentacao section p {
    width: 26em;
    display: inline-block;
    margin: 1em 0 0.7em;
  }
  .skils {
    display: flex;
    text-align: center;
  }
  .skils>div {
    z-index: 0;
    flex: 1;
    background: #f8f8f8;
    border-left: 1px solid #dddddd;
  }
  .skils>div:first-child {
    border-left: none;
  }
  .skils h3 {
    color: #6fa5f7;
    padding-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  .skils p {
    color: #7e7e7e;
    font-size: 12pt;
    padding: 1em;
  }
  .skils figure img {
    height: 5em;
    margin-top: 2em;
  }
  .diferenciais header {
    width: 28em;
    display: block;
    text-align: center;
    margin: 4em auto 4em;
  }
  .diferenciais header h2 {
    width: 15em;
    margin: 0 auto 1em;
  }
  .diferenciais .dif-boxes {
    display: flex;
    flex-direction: row;
  }
  .diferenciais .dif-boxes .dif3 {
    margin-left: 1em;
    flex: 50%;
    background-image: url('../img/diferenciais/medical.png');
    background-position: -104px -106px;
  }
  .diferenciais .dif-boxes .coluna {
    flex: 50%;
  }
  .diferenciais .dif-boxes .box {
    padding: 7em 3em 5em;
  }
  .servicos h2 {
    text-align: center;
    margin: 2.5em 0 1em;
  }
  .servicos .slide {
    display: flex;
  }
  .servicos .slide>div {
    margin: 0.5em;
  }
  .servicos .slide>div:first-child {
    margin-left: 0;
  }
  .servicos .slide>div:last-child {
    margin-right: 0;
  }
  .servicos .slide>div>h4 {
    margin: 0.2em 0 0.5em 0;
  }
  .servicos .slide>div>p {
    line-height: 1.5em;
    font-size: 12pt;
  }
  footer .mobile {
    display: none;
  }
  footer .desktop {
    display: flex;
    max-width: 960px;
    margin: 3em auto 0;
    padding: 4em 0;
    font-size: 10pt;
  }
  footer .desktop>div {
    display: inline-flex;
    max-width: 960px;
  }
  footer .desktop img {
    height: 1em;
    margin-right: 0.2em
  }
  footer .desktop>div:nth-child(1) {
    flex: 6;
  }
  footer .desktop>div:nth-child(2) {
    flex: 2;
  }
  footer .desktop>div:nth-child(3) {
    flex: 3;
  }
  footer .desktop>div:nth-child(4) {
    flex: 2;
  }
  footer .desktop>div:nth-child(5) {
    flex: 1;
  }
  footer .desktop>div:nth-child(5) img {
    position: relative;
    right: -3em
  }
}